.skeleton-card{
    width:150px;
    height:280px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 8px;
}
.skeleton{
    background-color: #ddd;
    margin:10px 0;
    border-radius: 4px;
}

.skeleton.text{
    width:95%;
    height: 12px;
}

.skeleton.textSmall{
    width:20%;
    height: 12px;
}

.skeleton.title{
    width: 50px;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.img{
    width:150px;
    height: 100px;
    border-radius:10px;
}